.services-title,
.team-title,
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  @include style-text(36px, 700, 42px);

  /*font-weight: 700;
  font-size: 36px;
  line-height: 1.17;*/
  text-align: center;
  color: var(--secondary-text-color);
}
